<div class="col-md-12">
  <h1>{{dayName}}</h1>
  <h4>{{dayDate}}</h4>
  {{#link-to 'new-interest' class="btn btn-primary"}}Add Event{{/link-to}}
</div>
<br>

<div class="col-md-12">
{{outlet}}
</div>
<br>

<div class="col-md-12">
  <h3>Events on {{dayDate}}</h3>

  {{#each interest in interests itemController = "interest"}}
    <p>{{interest.description}} {{interest.time}}</p>
  {{/each}}
</div>
<br>

<div class="col-md-12">
<button class="btn btn-danger" {{action 'delete'}}>Delete</button>
</div>
